<footer class="content-container">
    <div class="logo">
        <a href="#start-page">
            <span>S</span>
            <span class="color-letter">a</span>
            <span>sch</span>
            <span class="color-letter">a</span>
        </a>
        <div class="imprint">
            <a routerLink="/imprint">Imprint</a>
            <span class="color-letter"> | </span>
            <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
    <span class="copyright">© Sascha Nemeth 2024</span>
    <div class="icons">
        <a href="https://github.com/sn1977" target="_blank" class="github-link"><img src="/assets/icons/github-button.png"></a>
        <a href="mailto:contact@sascha-nemeth.com" class="email-link"><img src="/assets/icons/email-button.png"></a>
        <a href="https://www.linkedin.com/in/sascha-nemeth-05471646/" target="_blank" class="linkedin-link"><img src="/assets/icons/linkedin-button.png"></a>
    </div>
</footer>
