<div class="skills-container">
    <div class="skills">
        <div *ngFor="let skillBox of skills; let i = index" class="skill-box">
            <img src="/assets/icons/{{ skills[i].img }}"/>
            <span>{{ skills[i].name }}</span>
        </div>
    </div>
    <div class="headline">
        <div class="headline-container">
            <h1 class="headline-my-skills">{{ "skills.headline-skill"|translate }}</h1>
        </div>
        <span class="text-skills">
      {{ "skills.text-skill"|translate }}
    </span>
        <a class="btn-skills" href="#scroll-to-contact">
            <button class="btn-get-in-touch" (click)="scrollToContact()">{{ "skills.skill-btn"|translate }}</button>
        </a>
        <div class="blue-line"></div>
    </div>
</div>
