.skills-container {
    display: flex;
    width: 100%;
    position: relative;
    padding-left: 100px;
    padding-top: 150px;
    color: #FFFFFF;
    z-index: 5;
}

.skills {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

span {
    font-size: 18px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-bottom: 80px;
    width: 85px;
    font-weight: 700;
    line-height: 19px;

    img {
        max-width: 60px;
        max-height: 60px;
        object-fit: contain;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        &:hover {
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
    }

    span {
        text-align: center;
        margin-top: 10px;
    }
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    padding-right: 100px;
    width: 40%;

    .headline-container {
        width: 100%;
        display: flex;
        justify-content: end;

        h1 {
            width: 100%;
            font-size: 5vw;
            font-family: Poppins, sans-serif;
            font-weight: 600;
        }
    }

    .headline-my-skills {
        font-size: 90px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;

        span {
            margin-top: 20px;
            margin-bottom: 38px;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }
    }
}

.text-skills {
    text-align: end !important;
    padding-bottom: 24px;
}

a {
    text-decoration: none;
}

.btn-get-in-touch {
    width: 200px;
    height: 58px;
    color: #FFFFFF;
    background-color: #00bee8;
    border-radius: 10px;
    border: none;
    font-size: 23px;
    transform-origin: top;
    -webkit-transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #4b47ff;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

.blue-line {
    border: 2px solid #4b47ff;
    height: 0px;
    width: 12%;
    position: absolute;
    right: 0;
    top: 170px;
}

.background-form {
    position: absolute;
    transform: rotate(15deg);
    left: -600px;
    bottom: -300px;
    z-index: -1;
}

@media (max-width: 970px) {
    .skills-container {
        padding-left: 30px;
        flex-direction: column-reverse;
    }

    .blue-line {
        width: 35%;
    }

    .headline {
        width: 100%;

        h1 {
            padding-right: 100px;
        }

        .text-skills {
            padding-right: 60px;
        }
    }

    .skills {
        width: 100%;
        justify-content: center;
    }

    .btn-skills {
        position: relative;
        bottom: -580px;
        z-index: 2;
    }
}

@media (max-width: 674px) {
    h1 {
        font-size: 40px !important;
    }

    .btn-skills {
        bottom: -750px;
    }

    .blue-line {
        width: 25%;
    }
}

@media (max-width: 498px) {
    .btn-skills {
        bottom: -1100px;
    }
}

@media (max-width: 475px) {
    .blue-line {
        top: 165px;
        width: 25%;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 32px !important;
    }

    .blue-line {
        width: 30%;
    }

    .btn-skills {
        left: -40px;
    }

    .btn-get-in-touch {
        width: 135px;
        height: 45px;
        font-size: 18px;
    }
}

@media (max-width: 333px) {
    .btn-skills {
        bottom: -1900px;
        left: -20px;
    }
}
