<section>
    <div class="about-me-container">
        <h1>About me</h1>
        <div class="about-me-text">
        <span>Hello, I'm Sascha Nemeth, a dedicated Frontend Developer with extensive experience in crafting engaging
            websites and intricate web applications using JavaScript and Angular. Dive into my portfolio to explore
            some of my finest works.<br><br>
            "I believe in the power of creative collaboration to unlock the potential of every project. There's a unique
            path to every solution — it's all about exploring the possibilities."<br><br>
            I am currently residing near Lörrach, Germany, but my years living in Spain have shaped my multicultural
            approach to development, allowing me to offer my services in German, English, and Spanish. I am excited to
            assist you in developing both the aesthetic and functional aspects of your website, tailoring it to your
            needs. Let's bring your vision to life together! </span>
            <div>
                <div class="explanation-container">
                    <img class="bulb-icon" src="../../../assets/icons/bulb-desktop.png">
                    <span>
                        I am deeply motivated by the thrill of new ideas and approaches to tasks. The satisfaction of
                        overcoming challenges and delivering the results you need fuels my passion. Collaborating within
                        a team and embracing the responsibilities that come with it drive me to perform at my best.<br><br>
                        Throughout my career, I have completed over a dozen substantial projects, ranging from dynamic
                        landing pages and web apps to straightforward business software.
<!--                        and sophisticated chat-messenger systems.-->
            </span>
                </div>
                <div class="explanation-container">
                    <img class="puzzle-icon" src="../../../assets/icons/puzzle-desktop.png">
                    <span>
                        My professional journey has honed my skills in clear and effective communication. I believe in
                        the philosophy that having no initial idea is not a setback but an opportunity. I am committed
                        to daily improvement through diligent reading of documentation and developing innovative
                        approaches. Collaborating and exchanging ideas with a team enhances this process, making every
                        challenge a chance for growth.
            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="round-img-container">
        <img src="../../../assets/img/round-profile-img.png">
        <div class="blue-line"></div>
    </div>
</section>
<img class="shadow-blue" src="../../../assets/img/shadow-blue.png">
