section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-top: 120px;
    max-height: max-content;
    z-index: 4;
    max-width: 1920px; // Sets the maximum width of the container
    margin: 0 auto; // Centers the container horizontally
    width: 100%; // Ensures the container takes up full width on smaller screens
    box-sizing: border-box; // Ensures that padding and border are contained within the specified width

}

.about-me-container {
    min-height: auto;
    max-width: 50%; // Makes the width of the container more flexible
    overflow: hidden; // Prevents content from overflowing outside the container
    padding-right: 32px;

    h1 {
        width: 452px;
        height: 108px;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 100%;
        word-wrap: break-word;
    }
}

span {
    font-size: 16px;
}

.explanation-container {
    padding: 35px 0 0 35px;
}

.divider {
    display: flex;
}

.bulb-icon {
    width: 34.47px;
    height: 50px;
    padding-right: 35px;

    &:hover {
        transform-origin: top;
        transform: scale(1.3);
    }
}

.puzzle-icon {
    width: 50px;
    height: 50px;
    padding-right: 19.47px;

    &:hover {
        transform-origin: top right;
        transform: scale(1.3);
    }
}

.round-img-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        width: 550px;
        height: auto;
        object-fit: contain;
        border: 4px solid #00BEE8;
        border-radius: 100%;
    }
}

.blue-line {
    position: absolute;
    right: 0;
    border: 2px solid #00BEE8;
    width: 100px;
    height: 0;
    z-index: 2;
}

.shadow-blue {
    position: absolute;
    right: -7px;
    top: -95px;
    z-index: 3;
    height: 450px;
    width: auto;
}

@media (min-width: 1921px) {
    .round-img-container {
        padding-right: 100px;
    }
}

@media (min-width: 1800px) {
    section {
        padding-top: 350px;
    }
}

@media (max-width: 1920px) {
    .round-img-container {
        padding-right: 100px;
    }
}

@media (max-width: 1150px) {
    section {
        margin-top: 70px;
    }
}

@media (max-width: 1120px) {

    .round-img-container img {
        width: 300px;
    }
}

@media (max-width: 970px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .round-img-container {
        padding-right: 30px;
    }

    .blue-line {
        width: 60px;
    }
}

@media (max-width: 880px) {
    .round-img-container {
        display: none;
    }

    .shadow-blue {
        display: none;
    }

    .about-me-container {
        padding-right: 0;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 56px !important;
    }

    .explanation-container {
        padding-left: 0;
    }
    .bulb-icon {
        width: 20.47px;
        height: 30px;
        padding-right: 27px;
    }

    .puzzle-icon {
        width: 30px;
        height: 30px;
    }

    .bulb-icon:hover, .puzzle-icon:hover {
        transform-origin: left;
        transform: scale(1.3);

        &img {
            padding-right: 15px;
        }
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 450px) {
    section {
        margin-top: -150px;
    }
}
