<section>
    <div class="about-me-container">
        <h1>{{ "navigation.about"|translate }}</h1>
        <div class="about-me-text">
        <span>
            {{ "about-me-section.intro-first-part"|translate }}<br><br>
            {{ "about-me-section.intro-second-part"|translate }}<br><br>
            {{ "about-me-section.intro-third-part"|translate }}
        </span>
            <div class="explanation-container">
                <div class="explanation-container divider">
                    <img class="bulb-icon" src="/assets/icons/bulb-desktop.png">
                    <span>
                        {{ "about-me-section.motivation-first-part"|translate }}<br><br>
                        {{ "about-me-section.motivation-second-part"|translate }}
                    </span>
                </div>
                <div class="explanation-container divider">
                    <img class="puzzle-icon" src="/assets/icons/puzzle-desktop.png">
                    <span>
                        {{ "about-me-section.motivation-third-part"|translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="round-img-container">
        <img src="/assets/img/round-profile-img.png">
        <div class="blue-line"></div>
    </div>
    <img class="shadow-blue" src="/assets/img/shadow-blue.png">
</section>

