<h2 mat-dialog-title class="bg-color">Confirmation: Email Sent</h2>
<mat-dialog-content class="bg-color">Thank you!<br><br>Your message has been successfully sent.<br><br>I appreciate
    your engagement and your time. I will get back to you as soon as possible. Please also check your spam folder if
    you do not receive a response within the next 48 hours.<br><br>

    I am always striving to improve my service and ensure that your inquiries are handled efficiently and effectively.
    <br><br>
    Thank you again for reaching out.
    <br><br>
    Best Regards,<br>Sascha Nemeth</mat-dialog-content>
<mat-dialog-actions class="bg-color">
    <button mat-button mat-dialog-close class="btn-design">Close</button>
</mat-dialog-actions>

