<h2 mat-dialog-title class="bg-color">{{ "email-success-dialog.confirmation" | translate }}</h2>
<mat-dialog-content class="bg-color">{{ "email-success-dialog.thank-you" | translate }}
    <br><br>{{ "email-success-dialog.message" | translate }}
    <br><br>{{ "email-success-dialog.message2" | translate }}
    <br><br>{{ "email-success-dialog.message3" | translate }}
    <br><br>{{ "email-success-dialog.message4" | translate }}
    <br><br>{{ "email-success-dialog.regards" | translate }}
    <br>Sascha Nemeth
</mat-dialog-content>
<mat-dialog-actions class="bg-color">
    <button mat-button mat-dialog-close class="btn-design">{{ "email-success-dialog.btn-close" | translate }}</button>
</mat-dialog-actions>

