<div class="contact-container">
    <div class="blue-line"></div>
    <h1>Contact</h1>
</div>
<div class="contact-main-container">
    <div class="contact-explanation">
        <span class="contact-question">Got a problem to solve?</span>
        <span class="contact-text">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
        <span class="contact-text">Need a Frontend developer? <b>Contact me!</b></span>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="input-div"
             [class.red-border]="contactForm.get('nameForm')?.invalid && (contactForm.controls['nameForm'].dirty || contactForm.get('nameForm')?.touched)"
             [class.green-border]="contactForm.get('nameForm')?.valid && (contactForm.controls['nameForm'].dirty || contactForm.get('nameForm')?.touched)">
            <input type="text" formControlName="nameForm" placeholder="Your name">
            <img class="done-icon"
                 *ngIf="contactForm.get('nameForm')?.valid && (contactForm.controls['nameForm'].dirty || contactForm.get('nameForm')?.touched)"
                 ngSrc="/assets/icons/done-icon.png" height="26" width="25">
            <img class="error-icon"
                 *ngIf="contactForm.get('nameForm')?.invalid && (contactForm.controls['nameForm'].dirty || contactForm.get('nameForm')?.touched)"
                 ngSrc="/assets/icons/error-icon.png" height="26" width="26">
        </div>
        <div
            *ngIf="contactForm.get('nameForm')?.invalid && contactForm.get('nameForm')?.touched || contactForm.get('nameForm')?.dirty">
            <span class="alert-letters"
                  *ngIf="contactForm.get('nameForm')?.errors?.['required']">
                Your name is required
            </span>
            <span class="alert-letters" *ngIf="contactForm.get('nameForm')?.errors?.['minlength']">
                Minimum 3 letters required
            </span>
        </div>

        <div class="input-div"
             [class.red-border]="contactForm.get('emailForm')?.invalid && (contactForm.controls['emailForm'].dirty || contactForm.get('emailForm')?.touched)"
             [class.green-border]="contactForm.get('emailForm')?.valid && (contactForm.controls['emailForm'].dirty || contactForm.get('emailForm')?.touched)">
            <input type="email" formControlName="emailForm" placeholder="Your email">
            <img class="done-icon"
                 *ngIf="contactForm.get('emailForm')?.valid && (contactForm.controls['emailForm'].dirty || contactForm.get('emailForm')?.touched)"
                 ngSrc="/assets/icons/done-icon.png" height="26" width="25">
            <img class="error-icon"
                 *ngIf="contactForm.get('emailForm')?.invalid && (contactForm.controls['emailForm'].dirty || contactForm.get('emailForm')?.touched)"
                 ngSrc="/assets/icons/error-icon.png" height="26" width="26">
        </div>
        <div
            *ngIf="contactForm.get('emailForm')?.invalid && (contactForm.controls['emailForm'].dirty || contactForm.get('emailForm')?.touched)">
            <span class="alert-letters"
                  *ngIf="contactForm.get('emailForm')?.errors?.['required']">
                Valid email is required
            </span>
            <span class="alert-letters"
                  *ngIf="contactForm.get('emailForm')?.errors?.['email']">
                Please enter a valid email address
            </span>
        </div>

        <div class="message-button-box">
            <textarea formControlName="messageForm" placeholder="Your message"
                      [class.red-border]="contactForm.get('messageForm')?.invalid && (contactForm.controls['messageForm'].dirty || contactForm.get('messageForm')?.touched)"
                      [class.green-border]="contactForm.get('messageForm')?.valid && (contactForm.controls['messageForm'].dirty || contactForm.get('messageForm')?.touched)"></textarea>
            <img class="done-icon"
                 *ngIf="contactForm.get('messageForm')?.valid && (contactForm.controls['messageForm'].dirty || contactForm.get('messageForm')?.touched)"
                 ngSrc="/assets/icons/done-icon.png" height="26" width="25">
            <img class="error-icon"
                 *ngIf="contactForm.get('messageForm')?.invalid && (contactForm.controls['messageForm'].dirty || contactForm.get('messageForm')?.touched)"
                 ngSrc="/assets/icons/error-icon.png" height="26" width="26">
            <span class="alert-letters-textarea"
                  *ngIf="contactForm.get('messageForm')?.invalid && (contactForm.controls['messageForm'].dirty || contactForm.get('messageForm')?.touched)">
                Your message is empty or too short
            </span>

            <div class="privacy-submit-container">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox" formControlName="agreeToTerms" hidden>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                <span>I've read the
                    <a routerLink="/privacy-policy">privacy policy</a>
                    and agree to the processing of my data as outlined.</span>
                </div>
            </div>

            <span class="alert-privacy-policy"
                  [class.d-none]="contactForm.get('agreeToTerms')?.value || !submitAttempted">Please accept the privacy policy</span>

            <div class="btn-submit-overlay" *ngIf="!contactForm.get('agreeToTerms')?.value"
                 (click)="showPrivacyAlert()"></div>
            <div class="btn-submit">
                <button type="submit" [disabled]="!contactForm.valid || !contactForm.get('agreeToTerms')?.value"
                        [class.btn-blue]="contactForm.valid && contactForm.get('agreeToTerms')?.value">Send message :)
                </button>
            </div>
        </div>
    </form>
</div>

<div class="scroll-up" (click)="scrollToContact()">
    <img src="/assets/icons/arrow-up-circle.png">
</div>
<img class="background-end-form" src="/assets/img/end-shadow.png">
