.contact-container {
  display: flex;
  align-items: center;
  gap: 35px;
  min-width: 700px;
}
.contact-container .blue-line {
  width: 50px;
  height: 0;
  border: 2px solid #4b47ff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contact-container h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
}

.contact-main-container {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-bottom: 64px;
  gap: 32px;
}

.contact-explanation {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-left: 100px;
  width: 473px;
}
.contact-explanation .contact-question {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}
.contact-explanation .contact-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

form {
  min-width: 617px;
  min-height: 504px;
}
form .input-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  margin-bottom: 35px;
  padding: 15px 25px 15px 25px;
}
form .input-div:hover {
  border: 1px solid #00bee8;
}
form .input-div input {
  background-color: #141d2f !important;
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  outline: #00bee8;
  color: #FFFFFF;
  width: 100%;
}
form textarea {
  min-height: 202px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  border: 1px solid #4b47ff;
  gap: 10px;
  background-color: #141d2f;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  outline: #00bee8;
  resize: none;
}
form textarea:hover {
  border: 1px solid #00bee8;
}
form input::placeholder, form textarea::placeholder {
  color: #FFFFFF;
}

.message-button-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.privacy-submit-container {
  display: flex;
  padding: 40px 0 64px 0;
  font-size: 12px;
  justify-content: flex-start !important;
}
.privacy-submit-container label {
  margin-right: 8px;
}
.privacy-submit-container .custom-checkbox .checkmark {
  position: relative;
  height: 18px;
  width: 18px;
  border: 1px solid #00bee8;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}
.privacy-submit-container .custom-checkbox input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid #00bee8;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.privacy-submit-container span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.privacy-submit-container span a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: #4b47ff;
}

.btn-submit {
  display: flex;
  justify-content: center;
}
.btn-submit button {
  width: 264px;
  height: 58px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 28px;
  background-color: #B6B6B6;
  color: #FFFFFF;
  border: none;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}
.btn-submit button:hover:enabled {
  cursor: pointer;
  background-color: #00bee8;
  transform: scale(1.2);
}

.scroll-up {
  padding: 0 100px 96px 100px;
  display: flex;
  justify-content: end;
}
.scroll-up img {
  width: 39px;
  right: 119px;
}
.scroll-up img:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(47%) sepia(81%) saturate(1427%) hue-rotate(155deg) brightness(104%) contrast(101%);
}

.done-icon {
  position: absolute;
  right: 25px;
  top: 14px;
}

.error-icon {
  position: absolute;
  right: 25px;
  top: 14px;
}

.input-div.red-border {
  border: 1px solid #E61C40 !important;
}
.input-div.red-border:hover {
  border: 1px solid #E61C40 !important;
}

.input-div.green-border {
  border: 1px solid #70E61C !important;
}
.input-div.green-border:hover {
  border: 1px solid #70E61C !important;
}

.red-border {
  border: 1px solid #E61C40 !important;
}
.red-border:hover {
  border: 1px solid #E61C40 !important;
}

.green-border {
  border: 1px solid #70E61C !important;
}
.green-border:hover {
  border: 1px solid #70E61C !important;
}

.alert-letters {
  color: #E61C40 !important;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  top: -32px;
}

.alert-letters-textarea {
  color: #E61C40 !important;
  font-weight: 400;
  font-size: 13px;
  padding-top: 2px;
}

.alert-privacy-policy {
  color: #E61C40 !important;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  top: -60px;
}

.d-none {
  display: none;
}

.btn-submit-overlay {
  position: absolute;
  width: 100%;
  height: 56px;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  bottom: 0;
}

.btn-blue {
  background-color: #00bee8 !important;
}

.background-end-form {
  position: absolute;
  z-index: -1;
  width: 747.47px;
  height: 702.79px;
  left: -85px;
  bottom: -230px;
}

@media (max-width: 1250px) {
  form {
    min-width: 280px;
  }
}
@media (max-width: 970px) {
  .contact-main-container {
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }
  .contact-explanation {
    padding-left: 0;
    width: unset;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 64px !important;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 40px !important;
  }
}

/*# sourceMappingURL=contact.component.css.map */
