.portfolio-container {
    max-width: 1920px; // Sets the maximum width of the container
    margin: 0 auto; // Centers the container horizontally
    width: 100%; // Ensures the container takes up full width on smaller screens
    box-sizing: border-box; // Ensures that padding and border are contained within the specified width
    z-index: 7;
    position: relative;
}

.headline-container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 100px;

    .short-blue-line {
        width: 240px;
        border: 2px solid #4b47ff;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }

    .long-blue-line {
        position: absolute;
        right: 0;
        border: 2px solid #4b47ff;
        width: 600px;
        height: 0;
        z-index: 2;
    }
}

span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 1860px) {
    .long-blue-line {
        width: 500px !important;
    }
}

@media (max-width: 1665px) {
    .long-blue-line {
        width: 350px !important;
    }
}

@media (max-width: 1410px) {
    .long-blue-line {
        width: 300px !important;
    }
}

@media (max-width: 1310px) {
    .long-blue-line {
        width: 200px !important;
    }

    .short-blue-line {
        width: 160px !important;
    }
}

@media (max-width: 1100px) {
    .long-blue-line {
        width: 200px !important;
    }

    h1 {
        font-size: 64px !important;
    }

    .short-blue-line {
        width: 120px !important;
    }
}

@media (max-width: 880px) {
    .long-blue-line {
        width: 150px !important;
    }

    h1 {
        font-size: 56px !important;
    }

    .short-blue-line {
        width: 100px !important;
    }
}

@media (max-width: 770px) {
    .long-blue-line {
        width: 120px !important;
    }

    .short-blue-line {
        width: 70px !important;
    }

    span {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 665px) {
    h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 565px) {
    .long-blue-line {
        width: 80px !important;
    }

    .short-blue-line {
        width: 50px !important;
    }
}

@media (max-width: 460px) {
    .long-blue-line {
        width: 45px !important;
    }

    .short-blue-line {
        width: 30px !important;
    }

    h1 {
        font-size: 32px !important
    }
}
