<div class="main-container">
    <div class="container">
        <img class="profile-shadows" src="/assets/img/photo-shadows.png">
        <img class="profile-img" src="/assets/img/profile-img.png">
    </div>

    <div class="intro-box">
        <span class="vertical-letters">I am</span>
        <div class="profile-text">
            <span class="profile-name">Sascha Nemeth</span>
            <span class="profile-profession">Frontend Developer</span>
            <div class="btn">
                <button (click)="scrollToContact()">Let's talk!</button>
            </div>
        </div>
    </div>
</div>

<img class="background-form" src="/assets/img/separator-form.png"/>

<section class="contact-line">
    <div class="blue-contact-line"></div>
    <div class="contact-section">
        <a href="https://github.com/sn1977" target="_blank">
            <img class="icon-size" src="/assets/icons/github-button.png">
        </a>
        <a href="mailto:contact@sascha-nemeth.com">
            <img class="icon-size" src="/assets/icons/email-button.png">
        </a>
        <a href="https://www.linkedin.com/in/sascha-nemeth-05471646/" target="_blank">
            <img class="icon-size" src="/assets/icons/linkedin-button.png">
        </a>
        <a id="email" href="#contact">contact&#64;sascha-nemeth.com</a>
        <div class="scroll-down-div">
            <span class="scroll-down">Scroll down</span>
            <img class="icon-arrow" src="/assets/icons/arrow.png"/>
        </div>
         </div>
</section>
