div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
}
div .profile-shadows {
  position: relative;
  width: 880px;
  height: 1000px;
  left: -80px;
  top: 300px;
}
div img:nth-child(2) {
  position: absolute;
  top: 350px;
  left: -380px;
}
div .vertical-letters {
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  rotate: 270deg;
  height: fit-content;
  position: relative;
}
div .intro-box {
  position: absolute;
  right: 100px;
  padding: 0;
}
div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 112px;
  padding-right: 0;
}
div .profile-name {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
div .profile-profession {
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #4B47FF;
  justify-content: flex-start;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 56px;
}

button {
  width: 165px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background-color: #00BEE8;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  border: none;
  font-family: Poppins, sans-serif;
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  z-index: 2;
}
button:hover {
  cursor: pointer;
  background-color: #4B47FF;
  transform: scale(1.3);
}

.background-form {
  position: absolute;
  top: 600px;
  width: 120vw;
}

.blue-contact-line {
  width: 100px;
  height: 0;
  border: 4px solid #4B47FF;
  z-index: 2;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: unset;
}

.contact-line {
  position: relative;
  top: 270px;
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}

.contact-section {
  width: 700px;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
}
.contact-section a, .contact-section span {
  z-index: 2;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.contact-section a img, .contact-section span img {
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}
.contact-section a img:hover, .contact-section span img:hover {
  transform: scale(1.3);
}
.contact-section .icon-size {
  width: 30px;
  height: 30px;
}

.scroll-down-div {
  z-index: 2;
  transform: rotate(90deg);
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: -120px;
  background: transparent;
}
.scroll-down-div .icon-arrow {
  transform: rotate(-90deg);
  margin-left: 6px;
  width: 24px;
  height: 24px;
  position: unset;
}

@media (max-width: 1875px) {
  .profile-name {
    font-size: 78px !important;
  }
  section {
    top: 250px !important;
  }
}
@media (max-width: 1780px) {
  .vertical-letters {
    font-size: 54px !important;
  }
  .profile-name {
    font-size: 56px !important;
  }
  .profile-profession {
    font-size: 44px !important;
  }
  .profile-shadows {
    top: 250px !important;
  }
  .profile-img {
    top: 300px !important;
  }
  section {
    top: 220px !important;
  }
}
@media (max-width: 1680px) {
  .profile-shadows {
    top: 220px !important;
  }
  .profile-img {
    top: 270px !important;
  }
  section {
    top: 190px !important;
  }
}
@media (max-width: 1571px) {
  .vertical-letters {
    font-size: 54px !important;
  }
  .profile-name {
    font-size: 48px !important;
  }
  .profile-profession {
    font-size: 44px !important;
  }
  section {
    top: 160px !important;
  }
}
@media (max-width: 1500px) {
  .profile-shadows {
    top: 180px !important;
  }
  .profile-img {
    top: 230px !important;
  }
  section {
    top: 120px !important;
  }
}
@media (max-width: 1400px) {
  .profile-shadows {
    top: 220px !important;
  }
  .profile-img {
    top: 300px !important;
    width: 95%;
    left: -250px !important;
  }
  section {
    top: 90px !important;
  }
}
@media (max-width: 1280px) {
  .profile-shadows {
    width: 660px !important;
  }
  .profile-img {
    top: 350px !important;
  }
  section {
    top: 60px !important;
  }
}
@media (max-width: 1075px) {
  .profile-img {
    top: 400px !important;
  }
  section {
    top: 30px !important;
  }
}
@media (max-width: 970px) {
  .intro-box {
    left: 100px;
    right: 0;
    top: 800px;
    z-index: 4;
    width: 100vw;
    justify-content: unset;
  }
  section {
    top: 300px !important;
  }
  .profile-shadows {
    width: 660px !important;
    left: 96px !important;
    position: unset;
  }
  .profile-img {
    top: 210px !important;
    left: -222 !important;
    height: 800px !important;
    width: fit-content !important;
  }
  .scroll-down-div {
    display: none;
  }
}
@media (max-width: 890px) {
  .profile-img {
    top: 170px !important;
    height: 800px !important;
    width: fit-content !important;
  }
  .profile-shadows {
    top: 100px !important;
  }
}
@media (max-width: 710px) {
  .background-form {
    top: 650px !important;
  }
  .intro-box {
    left: 30px;
  }
}
@media (max-width: 630px) {
  .profile-img {
    top: 200px !important;
    left: -300px !important;
  }
  .background-form {
    top: 700px !important;
  }
  #email {
    display: none;
  }
  .vertical-letters {
    font-size: 30px !important;
    line-height: 0 !important;
    padding-right: 88px;
    padding-top: 104px;
  }
  .profile-name {
    font-size: 40px !important;
    line-height: 2px !important;
    padding-top: 72px;
  }
  .profile-profession {
    font-size: 32px !important;
  }
  .btn {
    padding-top: 5px;
  }
  .contact-line {
    top: 200px !important;
  }
}
@media (max-width: 560px) {
  .profile-img {
    left: -380px !important;
  }
  .profile-shadows {
    left: -40px !important;
  }
  .intro-box {
    left: 0px;
  }
}
@media (max-width: 500px) {
  .intro-box {
    left: -72px;
  }
  .vertical-letters {
    font-size: 24px !important;
    line-height: 0 !important;
    padding-right: 100px;
    padding-top: 104px;
  }
  .profile-name {
    font-size: 32px !important;
    line-height: 2px !important;
    padding-top: 80px;
    font-weight: 600;
  }
  .profile-profession {
    font-size: 24px !important;
  }
  button {
    width: 120px;
    padding: 15px;
    font-size: 16px !important;
    line-height: 16px;
  }
}
@media (max-width: 420px) {
  .profile-img {
    left: -250px !important;
    height: 547px !important;
    top: 430px !important;
  }
  .profile-shadows {
    left: -40px !important;
  }
  .background-form {
    top: 770px !important;
  }
  .intro-box {
    right: 0 !important;
  }
  .vertical-letters {
    font-size: 18px !important;
    line-height: 0 !important;
    padding-right: 118px;
    padding-top: 132px;
  }
  .profile-name {
    font-size: 24px !important;
    line-height: 2px !important;
    padding-top: 80px;
    font-weight: 600 !important;
  }
  .profile-profession {
    font-size: 18px !important;
    line-height: 40px !important;
  }
  button {
    width: 102px;
    padding: 15px;
    font-size: 16px !important;
    line-height: 14px;
  }
  .btn {
    right: 50px !important;
  }
  .contact-line {
    top: 150px !important;
  }
}

/*# sourceMappingURL=introduction.component.css.map */
