.main-container {
    position: relative;
}

.container {
    position: relative;
    width: 100%; /* Die gewünschte Breite oder ein fester Wert */
    height: 900px; /* Oder eine feste Höhe nach Ihrer Wahl */
    overflow: hidden; /* Stellt sicher, dass der Inhalt im Container bleibt */
    //border: solid 2px red;
    top: 110px;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Bedeckt den Bereich des Containers, ohne das Seitenverhältnis zu verlieren */
    top: 0;
    left: -400px;
}

.profile-img {
    z-index: 1; /* Stellt sicher, dass das Profilbild über dem Schatten liegt */
}

.profile-shadows {
    z-index: 0;
    object-fit: contain !important;
}

.intro-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    max-width: 718px;
    height: 172px;
    top: 297px;
    right: 100px;
}

.vertical-letters {
    width: 152px;
    height: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    transform: rotate(-90deg);
    flex: none;
}

.profile-text {
    display: flex;
    flex-direction: column;
    height: 132px;
}

.profile-name {
    height: 87px;
    font-weight: 700;
    font-size: 67px;
    line-height: 120%;
    flex: none;
    margin: 6px 0;

}

.profile-profession {
    font-size: 46px;
    line-height: 94%;
    color: #4B47FF;
}


.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 56px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    z-index: 5;
    position: absolute;
    width: 165px;
    height: 58px;
    left: calc(50% - 82.5px);
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    font-family: Poppins, sans-serif;
    transition: transform 0.3s ease-in-out;
    transform-origin: top;

    &:hover {
        cursor: pointer;
        background-color: #4B47FF;
        transform: scale(1.3);
    }
}

.background-form {
    position: absolute;
    top: 440px;
    //max-width: 1440px;
    width: 100%;
    z-index: 3;
}

.blue-contact-line {
    width: 100px;
    height: 0;
    border: 4px solid #4B47FF;
    z-index: 4;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: unset;
}

.contact-line {
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
}

.contact-section {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    z-index: 5;

    a, span {
        z-index: 6;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

        img {
            transition: transform 0.3s ease-in-out;
            transform-origin: left; // Sets the origin of the transformation

            &:hover {
                transform: scale(1.3);
            }
        }

    }

    .icon-size {
        width: 30px;
        height: 30px;
    }
}

.scroll-down-div {
    z-index: 2;
    transform: rotate(90deg);
    color: #ffffff;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: -73px;
    background: transparent;

    .icon-arrow {
        transform: rotate(-90deg);
        margin-left: 6px;
        width: 24px;
        height: 24px;
        position: unset;
    }
}

@media (min-width: 1800px) {
    .contact-line {
        top: 250px;
    }

    .profile-img {
        top: 50px !important;
    }
}

@media (min-width: 1910px) {
    .profile-img {
        top: -85px !important;
        height: 120% !important;
    }

    .background-form {
        top: 370px;
    }
}

@media (min-width: 1950px) {
    .profile-img {
        top: -30px !important;
        height: 120% !important;
    }
}

@media (min-width: 2160px) {
    .profile-img {
        top: -30px !important;
        height: 130% !important;
    }

    .background-form {
        top: 330px;
    }

    .intro-box {
        top: 200px;
    }
}

@media (min-width: 2300px) {
    .profile-img {
        top: -60px !important;
        height: 140% !important;
    }

    .background-form {
        top: 250px;
    }
}

@media (max-width: 1350px) {
    .container {
        top: 85px;

        img {
            left: -350px;
        }
    }
}

@media (max-width: 1150px) {
    .intro-box {
        height: 70px;

        .vertical-letters {
            font-size: 45px;
            line-height: unset;
            width: 104px;
        }

        .profile-text {
            height: 60px;
        }

        .profile-name {
            font-size: 56px;
            line-height: unset;
            height: 48px;
        }

        .profile-profession {
            font-size: 36px;
            line-height: unset;
        }
    }

    .container {
        top: 105px;
    }

    .container img {
        width: 90%;
        height: 90%;
        left: -275px;
    }

    .contact-line {
        top: 0;
    }

    .btn {
        padding-top: 35px;
    }
}

@media (max-width: 1000px) {
    .container img {
        width: 80%;
        height: 80%;
        left: -220px;
        top: 23px;
    }
}

@media (max-width: 970px) {
    .intro-box {
        height: 32px;
        right: 30px;

        .vertical-letters {
            font-size: 39px;
            width: 77px;
        }

        .profile-text {
            height: 82px;
        }

        .profile-name {
            font-size: 42px;
            line-height: unset;
            height: 44px;
        }

        .profile-profession {
            font-size: 32px;
        }

        .btn {
            padding-top: 24px;
        }

        button {
            padding: 15px;
            font-size: 16px;
            height: 42px;
            width: 110px;
            left: calc(50% - 52.5px);
        }
    }

    .container img {
        left: -140px;
        top: 15px;
    }
}

@media (max-width: 870px) {
    .scroll-down-div {
        display: none;
    }

    .intro-box {
        position: relative;
        height: 100px;
        justify-content: center;
        top: -100px;
        right: 24px;
        max-width: unset;
    }

    .vertical-letters, .profile-profession, .profile-name, .profile-text {
        z-index: 4;
    }

    .vertical-letters {
        width: 152px !important;
        height: 12px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 57px !important;
        line-height: 120% !important;
        transform: rotate(-90deg) !important;
        //flex: none !important;
    }

    .profile-text {
        display: flex !important;
        flex-direction: column !important;
        height: 113px !important;
    }

    .profile-name {
        height: 80px !important;
        font-weight: 700 !important;
        font-size: 67px !important;
        line-height: 120% !important;
        flex: none !important;
        margin: 6px 0 !important;

    }

    .profile-profession {
        font-size: 46px !important;
        line-height: 94% !important;
        color: #4B47FF !important;
    }


    .btn {
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
        padding-top: 35px !important;
    }

    button {
        width: 165px !important;
        height: 58px !important;
        left: calc(50% - 82.5px) !important;
        font-size: 23px !important;
    }

    .contact-line {
        top: 85px;
    }

    .container img {
        left: 60px;
        top: -40px;
    }
}

@media (max-width: 720px) {
    .intro-box {
        height: 32px !important;
        //right: 30px !important;

        .vertical-letters {
            font-size: 38px !important;
            width: 100px !important;
            height: 0 !important;
        }

        .profile-text {
            height: 50px !important;
        }

        .profile-name {
            font-size: 42px !important;
            line-height: unset !important;
            height: 32px !important;
        }

        .profile-profession {
            font-size: 32px !important;
        }

        .btn {
            padding-top: 24px !important;
        }

        button {
            padding: 15px !important;
            font-size: 16px !important;
            height: 42px !important;
            width: 110px !important;
            left: calc(50% - 52.5px) !important;
        }
    }
}

@media (max-width: 650px) {
    .container img {
        left: -30px;
        top: -90px;
        width: 100%;
    }

    .contact-section a {
        font-size: 18px;
    }

    .icon-size {
        width: 24px !important;
        height: auto !important;
    }
}

@media (max-width: 520px) {
    .container img {
        height: 65%;
        top: -12px;
    }

    .contact-line {
        display: none;
    }
}

@media (max-width: 450px) {
    .container img {
        height: 45%;
        top: 128px;
    }

    .intro-box {
        top: -250px;

        .vertical-letters {
            font-size: 30px !important;
            width: 70px !important;
        }

        .profile-text {
            height: 56px !important;
        }

        .profile-name {
            font-size: 30px !important;
            height: 32px !important;
        }

        .profile-profession {
            font-size: 24px !important;
        }
    }
}
